/* .main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    min-height: 634px;
    width: 356px;
    border-radius: 0px;
    background-color: #ffffff;
    margin-right: 16px;
    padding: 20px;
}
@media screen and (min-width: 768px) {
    .inner-container {
      width: 456px;
      border-radius: 8px;
      background-color: #FEFEFF;
      box-shadow: 0px 8px 40px 0px #07070714; 
    }
}
.form-container{
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.main-heading{
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 500;
    color:#0F172A;  
} 
@media screen and (min-width:768px){
    .main-heading{
        font-size: 32px;
    }
}
.input-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom:18px;
    width: 100%;
    width: 312px;
    height: 64px;
    margin-left:20px;
}
@media screen and (min-width:768px){
    .input-container{
        width: 360px;
        height: 64px;
        margin-left:0px;
    }
}
.label-element{
    font-family: 'Roboto';
    color:black;
    font-size: 12px;
    margin-bottom: 6px;
}
.input-element{
    width: 312px;
    height: 40px;
    border-radius: 2px;
    opacity: 0px;
    background-color: #E2E8F0;  
    border-width:0px;  
    outline: none;
    padding-left: 14px;
}
@media screen and (min-width:768px){
    .input-element{
        width: 360px;
        height: 40px;
    }
}
.error-message{
    font-family: 'Roboto';
    font-size: 12px;
    color:red;
}
.button-container{
    width: 100%;
    width:312px;
    height: 50px;
    margin-left: 20px;
    margin-bottom: 6px;
}
@media screen and (min-width:768px){
    .button-container{
        width: 360px;
        margin-left:0px;
    }
}
  .button{
    width: 327px;
    height: 40px;
    border-radius: 8px;
    color:white;
    background-color: black;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    border-width:0px;
    margin-right: 0px;
  }
  @media screen and (min-width:768px){
    .button{
        width: 360px;
        height: 40px;
        border-radius: 8px;
    }
  } */
